@charset "utf-8";

/* CSS Document */

body {
    overflow: hidden;
}

.content-box {
    z-index: 9999999;
    margin-bottom: 3px;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.95);
    width: 40%;
    height: 40%;
    overflow: hidden;
    padding: 20px;
}

div.password-inputbox>p {
    color: black;
}

.closeButton-password {
    margin: 10% auto;
    margin-bottom: 0;
    background: #58B2DC;
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

.closeButton-password:hover {
    cursor: pointer;
    background-color: #1E88A8;
}

.closeButton-password>p {
    font-size: 1em;
    line-height: 50px;
    color: white;
}

#popTitle {
    font-size: 1.5em;
    color: black;
    margin: 40px auto 40px auto;
}

.inputPassword {
    margin: 0 auto;
    text-align: center;
}

div.inputPassword {
    height: 54px;
    margin: 10px 5px 20px 5px;
    text-align: center;
}

input.inputPassword {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: #FFFFFF;
    min-width: 342px;
    height: 50px;
    font-size: 20px;
    box-shadow: 3px 3px 2px #000000;
    border-radius: 5px;
    text-align: left;
}

input.inputPassword:focus {
    border: 1px solid #3b99fc!important;
    outline: 0;
    box-shadow: 0px 0px 3px 2px #3b99fc!important;
}

.closeButton-common {
    display: inline-block;
    border-radius: 5px;
    color: white;
    padding: 0.2em;
}

div.closeButton-common>p {
    font-size: 1em;
    line-height: 1em;
    width: 2em;
    height: 1em;
    margin: 0;
}

.closeButton-close {
    background-color: #58B2DC;
}

.closeButton-close:hover {
    cursor: pointer;
    background-color: #1E88A8;
}

.closeButton-apply {
    background-color: #E83015;
}

.closeButton-apply:hover {
    cursor: pointer;
    background-color: #AB3B3A;
}

.head-flag {
    /* float: left; */
    transition-property: padding, max-height, opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    width: 100vw;
    height: 2em;
    background-color: rgb(255, 196, 0);
    display: none;
    max-height: 0px;
    opacity: 0;
    padding: 0px;
    overflow: hidden;
}

.head-flag-show {
    transition-property: padding, max-height, opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    padding: 10px;
    max-height: 2em;
    opacity: 1;
}

.head-flag>div {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center
}

.head-flag>.head-flag-btn {
    float: right;
    height: calc(2em - 14px);
    border-radius: 5px;
    width: 10%;
    margin-right: 5%;
    border-radius: 4px;
}

.head-flag>.head-flag-text {
    float: left;
    color: #333;
}

.head-flag>.allown {
    background-color: #33A6B8;
}

.head-flag>.allown:hover {
    background-color: #0089A7;
    cursor: pointer;
}

div.email-inputbox>p {
    color: black;
}

#popTitle {
    font-size: 1em;
    color: black;
    margin: 40px auto 40px auto;
}

.inputEmail {
    margin: 0 auto;
    text-align: center;
}

div.inputEmail {
    height: 54px;
    margin: 10px 5px 20px 5px;
    text-align: center;
}

input.inputEmail {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: #FFFFFF;
    min-width: 342px;
    height: 50px;
    font-size: 20px;
    box-shadow: 3px 3px 2px #000000;
    border-radius: 5px;
    text-align: left;
}

input.inputEmail:focus {
    border: 1px solid #3b99fc!important;
    outline: 0;
    box-shadow: 0px 0px 3px 2px #3b99fc!important;
}